@charset "UTF-8";

/* 헤더영역 */
.header {
	margin-top: 20px;
}
.logo {
	height: 34px;
	font-size: x-large;
	color: #5cb85c;
	font-weight: bold;
}
.wrap-logo, .wrap-search {
	padding: 10px;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .search-btn-sub {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* pc */
@media screen and (min-width: 768px) {

	/* 헤더영역 */
    #adv-search {
        width: 500px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
    
    /* 섹션영역 */
    .m-menu {
    	display: none;
    }
    .p-menu-tab li a {
    	color: black;
    }
	.p-menu-tab .active a {
		background-color: #5cb85c !important;
		cursor: pointer;
	}
	.p-menu-tab .page {
		cursor: pointer;
	}
	
	/* 검색결과 영역 */
	.contents-menu {
		padding: 20px 85px 10px 0px;
	}
}

/* mobile */
@media screen and (max-width: 768px) {

	/* 헤더영역 */
    #adv-search {
        width: 340px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 340px;
    }
    
    /* 섹션영역 */
    .blank {
    	display: none;
    }
    .p-menu {
    	display: none;
    }
    .m-menu {
    	padding-left: 10px;
    	padding-right: 10px;
    	padding-bottom: 0px !important;
    }
    .m-menu-tab {
		width: 340px;
		position: static !important;
		min-width: 340px;
		white-space: nowrap;
		overflow-x: auto;
		padding-bottom: 10px;
	}
	.m-menu-tab li {
		display: inline-block;
        float: none;
	}
	.m-menu-tab li a {
		color: black;
	}
	
	.m-menu-tab .active a {
		background-color: #5cb85c !important;
		cursor: pointer;
	}
	.m-menu-tab .page {
		cursor: pointer;
	}
	
	/* 검색결과 영역 */
	.contents-menu {
		padding: 20px 10px 10px 10px;
	}
	
}
/* 글자 밖으로 나가는 현상 방지 */
.contents-menu .description {
	word-break: break-all;
}

/* 지식 iN */
.contents-menu .title {
	font-size: medium;
}

/* 블로그, 카페 */
.card a {
	color: black;
}

.card-body p a {
	font-size: larger;
}

.card-body hr {
	background-color: #D8D7D7;
	border: 1px solid #D8D7D7;
}


